/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
.navig{
    padding: 30px;
}

.tbuttons{
    padding: 30px;
}

.detailRow{
    padding: 0px;
}

.field{
    padding: 10px 15px;
}

.section{
    max-width: 500px;
    margin: 0 auto;
}

#accountOptions{
    position: absolute;
    top: 30px;
    right: 30px;
}

.padding{
    padding: 20px;
}

#button {
    margin: 15px;
}

#button:hover {
    background: orange;
    color: white;
}

.margin-top {
    margin-top: 10px;
}

.padding-around {
    padding: 10px;
}

.hover {
    padding: 10px;
}
.hover:hover {
    color: darkorange !important;
}

.loginForm{
    padding: 15px;
}

.bg-white{
    background: white;
}

.margin-around {
    margin: 10px;
}

.big-margin {
    margin: 15px;
}
